// overrides
$blue:    #007bee;
$indigo:  #6610fe;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffcc00;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;
$border-color:   #6C70EE;
$primary:      #BF877A;
$card-bg: #fffafa;
$success: #CB9B8F;
$danger:#A64138;
$dark:    #020126;
$card-border-color:#BF6550;
$dropdown-color:#6C70EE;
$list-group-border-color: #495057;
$small-font-size: .8em;

// include bootstrap
//@import "./node_modules/bootstrap/scss/bootstrap";
//@import "node_modules/quasar/scss/Quasar";

// custom styles



body {
  font-family: 'Hind', sans-serif;
  color: $primary;

}





.dropdown-toggle {
  color: $primary;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.grad{


  background: linear-gradient(
                  to right,
                  #26010B 20%,
                  #BF9775 30%,
                  #8C593B 70%,
                  #73221A 80%,
                  #401212 90%

  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  animation: textShine 5s ease-in-out infinite alternate;
}
body{
  background-image: url("pexels-daniel-cid-634838605-17809424.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.clust-img{
  max-width: 10px;
 max-height:10px;
}