<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>New cluster</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.17.1/dist/quasar.prod.css" rel="stylesheet" type="text/css">
    <meta name="msapplication-TileColor" content="#3e92cc">
    <meta name="msapplication-config" content="./images/browserconfig.xml">
    <meta name="theme-color" content="#3e92cc">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="main.css">


</head>
<body>
<div id="Cluster">

    <q-layout view="hHh lpR fFf">

        <q-header elevated >
            <q-toolbar>
                <q-toolbar-title>
                    <q-btn flat  href="Clusters.html">
                        <q-icon right size="2em">
                            <i class="fa-solid fa-meteor grad"></i>
                        </q-icon>
                        Cluster
                    </q-btn>

                </q-toolbar-title>

                <q-btn dense flat round icon="menu" @click="toggleRightDrawer" />
            </q-toolbar>
        </q-header>

        <q-drawer v-model="rightDrawerOpen" side="right" overlay elevated>
            <!-- drawer content -->
        </q-drawer>

        <q-page-container>


            <div class="row justify-center ">
                <div class="col-6 text-center text-h3 q-pa-lg">
                  New Cluster
                </div>
            </div>

            <div class="q-pa-xl" style="max-width:400px;max-height: 1000px ">

                <q-form
                        @submit.prevent="addNewCluster"
                        @reset="onReset"
                        class="q-gutter-xl"
                >
                    <div>
                        <q-input
                                filled
                                v-model="newCluster.name"
                                label="Cluster Name *"
                                lazy-rules
                                bg-color="white"
                                :rules="[ val => val && val.length > 0 || 'Please type something']"

                        />

                    </div>
                    <div>

                        <q-input  filled
                                  label="New Classification"
                                  v-model="classification.name"
                                  lazy-rules
                                  bg-color="white">
                            <q-btn round dense flat icon="add"@click="addClassification(classification.name)" />
                        </q-input>
                    </div>

                    <classification-list :list="newCluster.classifications"></classification-list>

                    <div>
                        <q-toggle v-model="newCluster.public" label="Public" />
                    </div>
                    <div>
                        <q-toggle v-model="newCluster.favorite" label="Favorite" />
                    </div>

                    <div>
                        <q-select standout v-model="newCluster.type" :options="clusterTypes" label="Collection Type"  bg-color="white"/>
                    </div>


                    <div>
                        <q-btn label="Submit" type="submit" color="primary"/>

                    </div>
                    <div>
                        <q-btn label="Reset" type="" color="primary" flat class="q-ml-lg" />
                    </div>






                </q-form>

            </div>


        </q-page-container>

    </q-layout>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quasar@2.17.1/dist/quasar.umd.prod.js"></script>
<script src="Cluster-models.js "></script>
<script src="Cluster.js"></script>
<script src="l-nav-list.js"></script>
<script src="l-nav-item.js"></script>
<script src="Classification-List.js"></script>
<script src="Classification-item.js"></script>
<script>
    // start the app after all the other JS has been loaded
    Cluster.mount('#Cluster');
</script>

</body>
</html>