<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>New cluster</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.17.1/dist/quasar.prod.css" rel="stylesheet" type="text/css">
    <meta name="msapplication-TileColor" content="#3e92cc">
    <meta name="msapplication-config" content="./images/browserconfig.xml">
    <meta name="theme-color" content="#3e92cc">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="app.min.css">


</head>
<body>
<div id="Cluster">
<header>

    <l-nav-list :pages="pages"></l-nav-list>
</header>
<div class="container">

    <div class="row">
        <div class="py-5">
            <div class="text-center">
                <h1 class="display-5 mt-5 fw-bold">New Cluster</h1>

            </div>
        </div>
    </div>
    <form class="row g-3 needs-validation" novalidate @submit.prevent="addNewCluster">

        <div class="col-md-4 position-relative">
            <label for="ClusterName" class="form-label">Cluster Name</label>
            <input type="text" class="form-control" id="ClusterName" required v-model="newCluster.name">
        </div>

        <!-- figure out a way to marry these two tabs examples i found on code pen-->
        <div class="row p-2">
            <label>New Classification</label>
        <div class="col-4">
            <input class="form-control me-2" type="text" placeholder="New Classification" aria-label="NewClassification" v-model="classification.name">
        </div>
        <div class="col-3">
            <button class="btn btn-success" type="button" @click="addClassification(classification.name)">Add</button>
        </div>
        </div>

        <classification-list :list="newCluster.classifications" ></classification-list>

        <div class="row ms-4">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="PublicflexSwitchCheckDefault" v-model="newCluster.public">
            <label class="form-check-label" for="PublicflexSwitchCheckDefault">Public</label>
        </div>
        </div>
        <div class="row ms-4">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="FavoriteflexSwitchCheckDefault" v-model="newCluster.favorite">
            <label class="form-check-label" for="FavoriteflexSwitchCheckDefault">Favorite</label>
        </div>
        </div>
        <div class="col-4 p-4" >
            <label>Type</label>
       <select class="form-select" aria-label="Default select example" v-model="newCluster.type">

            <option v-for="type in clusterTypes" :value="type.name">{{type.name}}</option>  make it defualt to current cluster

        </select>
</div>

        <div class="row justify-content-center">
            <div class="col-3 col-md-1 p-2">
        <button class="btn btn-primary"  aria-disabled="true" type="submit">Continue</button>
            </div>
            <div class="col-3 col-md-1 p-2">
                <a class="btn btn-danger"  href="Clusters.html">Cancel</a>
            </div>
        </div>
    </form>
</div>
<footer>


</footer>
</div>
<!--<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/quasar@2.17.1/dist/quasar.umd.prod.js"></script>
<script src="Cluster-models.js "></script>
<script src="Main.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="Cluster.js"></script>
<script src="l-nav-list.js"></script>
<script src="l-nav-item.js"></script>
<script src="Classification-List.js"></script>
<script src="Classification-item.js"></script>
<script>
    // start the app after all the other JS has been loaded
    Cluster.mount('#Cluster');
</script>

</body>
</html>