<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New star</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="app.min.css">

</head>
<body>
<div id="Cluster">
<header>
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="Clusters.html">Cluster <i class="fa-solid fa-meteor grad"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Cluster <i class="fa-solid fa-meteor"></i></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>
<div>
    <div class="row">
        <div class="py-5">
            <div class="text-center">
                <h1 class="display-5 mt-5 fw-bold">New star</h1>
                <h2>{{currentCluster.name}}</h2>
            </div>
        </div>
    </div>

    <form novalidate @submit.prevent="addNewStar">
        <div class="row">
            <div class="col-md-6 order-sm-1">
                <div class="col-md-6 float-md-end mb-3 ms-md-3">
                    <img  class="img-fluid img-thumbnail h-100 w-100 " v-if="NewStar.photo != null " :src="NewStar.photo"/>
                    <div class="input-group px-3  py-3 ">
                        <label class="input-group-text" for="inputGroupFile01">Upload image</label>
                        <input type="text" class="form-control" id="inputGroupFile01" v-model="NewStar.photo">
                    </div>
                  <!--  <div class="input-group px-3  py-3 ">
                        <label class="input-group-text" for="inputGroupFile01">Upload image</label>
                        <input type="file" class="form-control" id="inputGroupFile01" v-model="NewStar.photo">
                    </div>-->
                </div>
            </div>

            <div class="col-md-6 order-sm-2">


                    <div class="row">
                        <div class=" col-md-4 px-4  py-3 px-md-0">
                            <label for="StarName" class="form-label">Star Name</label>
                            <input type="text" class="form-control" id="StarName" required v-model="NewStar.name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 px-4  py-3 px-md-0">
                            <label for="StarClusterName" class="form-label">Cluster</label>
                            <input type="text" class="form-control" id="StarClusterName" required v-model="NewStar.Cluster" :value="currentCluster.name">
                          <!--  <select class="form-select" aria-label="Default select example" v-model="NewStar.Cluster">
                                <option selected disabled>Cluster Name</option>
                                <option v-for="cluster in CLusterList" :value="cluster.name">{{cluster.name}}</option>

                            </select>-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 px-4  py-3 px-md-0">
                            <select class="form-select" aria-label="Default select example" v-model="NewStar.Classi">
                                <option selected disabled>Classification</option>
                                <option v-for="cl in currentCluster.classifications" :value="cl.name">{{cl.name}}</option>

                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class=" col-md-4 px-4  py-3 px-md-0">
                            <label for="Qty" class="form-label">Qty</label>
                            <input type="number" class="form-control" min="1" id="Qty" required v-model="NewStar.qty">
                        </div>
                    </div>

                    <div class="row">
                        <div class=" col-md-4 px-4  py-3 px-md-0 ">
                    <div class="form-floating ">
                        <textarea class="form-control " placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" v-model="NewStar.notes"></textarea>
                        <label for="floatingTextarea2">Notes</label>
                    </div>
                        </div>
                        </div>
                    <div class="row">
                        <div class=" col-md-4 px-4  py-3 px-md-0">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" v-model="NewStar.Trade">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Trade</label>
                    </div>
                        </div>
                    </div>

                    <div class="collapse" id="collapseExample">
                        <div class="row">
                        <div class="col-md-4 px-4  py-3 px-md-0">
                            <label for="TadeQty" class="form-label">Qty to trade</label>
                            <input type="number" class="form-control" id="TadeQty" required>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-4 px-4  py-3 px-md-0">
                            <select class="form-select" aria-label="Default select example">
                                <option selected disabled>Trade for</option>
                                <option value="1">Another Star</option>
                                <option value="2">Money</option>
                            </select>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-4 px-4  py-3 px-md-0">
                            <label for="ClusterName" class="form-label">Price</label>
                            <input type="text" class="form-control" id="ClusterName" required>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 px-4  py-3 px-md-0">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Condition</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                            </div>
                        </div>
                    </div>

                    <div class="d-grid gap-2 g-2 d-sm-flex justify-content-center">


                                <div class="col-3 col-md-2 p-2 g-2">
                        <button class="btn btn-success" type="submit">Create</button>
                                </div>
                                    <div class="col-3 col-md-2 p-2 g-2">

                         <a class="btn btn-danger" role="button" aria-disabled="true" href="Cluster.html">Cancel</a>
                                    </div>


                    </div>


            </div>
        </div>
    </form>
</div>

<footer>
</footer>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="Main.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="Cluster.js"></script>
<script src="js/Cluster-components.js"></script>
<script>
    // start the app after all the other JS has been loaded
    Cluster.mount('#Cluster');
</script>
</body>
</html>