<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.17.1/dist/quasar.prod.css" rel="stylesheet" type="text/css">
    <meta name="msapplication-TileColor" content="#3e92cc">
    <meta name="msapplication-config" content="./images/browserconfig.xml">
    <meta name="theme-color" content="#3e92cc">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="main.css">
</head>

<body>
<!-- example of injection point where you write your app template -->
<div id="Cluster">
    <q-layout view="hHh lpR fFf">

        <q-header elevated >
            <q-toolbar>
                <q-toolbar-title>
                    <q-btn flat  href="Clusters.html">
                        <q-icon right size="2em">
                            <i class="fa-solid fa-meteor grad"></i>
                        </q-icon>
                        Cluster
                    </q-btn>

                </q-toolbar-title>

                <q-btn dense flat round icon="menu" @click="toggleRightDrawer" />
            </q-toolbar>
        </q-header>

        <q-drawer v-model="rightDrawerOpen" side="right" overlay elevated>
            <!-- drawer content -->
        </q-drawer>

        <q-page-container>


           <!-- <q-card class="my-card">
                <div class="col-6">
                <img style="max-height: 90px; max-width: 150px;width: 100%; height: 100%;"  src="https://cdn.quasar.dev/img/mountains.jpg">
                </div>
                <div class="col-6">
                <img style="max-height: 90px; max-width: 150px;width: 100%; height: 100%;"  src="https://cdn.quasar.dev/img/mountains.jpg">
                </div>
                <div class="col-6">
                <img style="max-height: 90px; max-width: 150px;width: 100%; height: 100%;"  src="https://cdn.quasar.dev/img/mountains.jpg">
                </div>
                <div class="col-6">
                    <img style="max-height: 90px; max-width: 150px;width: 100%; height: 100%;"  src="https://cdn.quasar.dev/img/mountains.jpg">
                </div>
                <q-card-section>
                    <div class="text-h6">Our Changing Planet</div>
                    <div class="text-subtitle2">by John Doe</div>
                </q-card-section>

                <q-card-section class="q-pt-none">
                    {{ lorem }}
                </q-card-section>
            </q-card>-->

                <div class="q-pa-md q-gutter-md">
                    <q-list bordered class="rounded-borders" style="max-width: 350px">
                        <q-item-label header>Friends</q-item-label>

                        <q-item clickable v-ripple>
                            <q-item-section avatar>
                                <q-avatar>
                                    <img src="https://cdn.quasar.dev/img/avatar2.jpg">
                                </q-avatar>
                            </q-item-section>

                            <q-item-section>
                                <q-item-label lines="1">Brunch this weekend?</q-item-label>
                                <q-item-label caption lines="2">
                                    <span class="text-weight-bold">Janet</span>
                                    -- I'll be in your neighborhood doing errands this
                                    weekend. Do you want to grab brunch?
                                </q-item-label>
                            </q-item-section>

                            <q-item-section side top>
                                1 min ago
                            </q-item-section>
                        </q-item>

                        <q-separator inset="item" ></q-separator>

                        <q-item clickable v-ripple>
                            <q-item-section avatar>
                                <q-avatar>
                                    <img src="https://cdn.quasar.dev/img/avatar4.jpg">
                                </q-avatar>
                            </q-item-section>

                            <q-item-section>
                                <q-item-label lines="1">Linear Project</q-item-label>
                                <q-item-label caption lines="2">
                                    <span class="text-weight-bold">John</span>
                                    -- Can we schedule a call for tomorrow?
                                </q-item-label>
                            </q-item-section>

                            <q-item-section side top>
                                1 min ago
                            </q-item-section>
                        </q-item>
                    </q-list>

                    <q-list bordered class="rounded-borders" style="max-width: 600px">
                        <q-item-label header>Google Inbox style</q-item-label>

                        <q-item>
                            <q-item-section avatar top>
                                <q-icon name="account_tree" color="black" size="34px"></q-icon>
                            </q-item-section>

                            <q-item-section top class="col-2 gt-sm">
                                <q-item-label class="q-mt-sm">GitHub</q-item-label>
                            </q-item-section>

                            <q-item-section top>
                                <q-item-label lines="1">
                                    <span class="text-weight-medium">[quasarframework/quasar]</span>
                                    <span class="text-grey-8"> - GitHub repository</span>
                                </q-item-label>
                                <q-item-label caption lines="1">
                                    @rstoenescu in #3: > Generic type parameter for props
                                </q-item-label>
                                <q-item-label lines="1" class="q-mt-xs text-body2 text-weight-bold text-primary text-uppercase">
                                    <span class="cursor-pointer">Open in GitHub</span>
                                </q-item-label>
                            </q-item-section>

                            <q-item-section top side>
                                <div class="text-grey-8 q-gutter-xs">
                                    <q-btn class="gt-xs" size="12px" flat dense round icon="delete" ></q-btn>
                                    <q-btn class="gt-xs" size="12px" flat dense round icon="done" ></q-btn>
                                    <q-btn size="12px" flat dense round icon="more_vert"></q-btn>
                                </div>
                            </q-item-section>
                        </q-item>

                        <q-separator spaced></q-separator>

                        <q-item>
                            <q-item-section avatar top>
                                <q-icon name="account_tree" color="black" size="34px"></q-icon>
                            </q-item-section>

                            <q-item-section top class="col-2 gt-sm">
                                <q-item-label class="q-mt-sm">GitHub</q-item-label>
                            </q-item-section>

                            <q-item-section top>
                                <q-item-label lines="1">
                                    <span class="text-weight-medium">[quasarframework/quasar]</span>
                                    <span class="text-grey-8"> - GitHub repository</span>
                                </q-item-label>
                                <q-item-label caption lines="1">
                                    @rstoenescu in #1: > The build system
                                </q-item-label>
                                <q-item-label lines="1" class="q-mt-xs text-body2 text-weight-bold text-primary text-uppercase">
                                    <span class="cursor-pointer">Open in GitHub</span>
                                </q-item-label>
                            </q-item-section>

                            <q-item-section top side>
                                <div class="text-grey-8 q-gutter-xs">
                                    <q-btn class="gt-xs" size="12px" flat dense round icon="delete" ></q-btn>
                                    <q-btn class="gt-xs" size="12px" flat dense round icon="done"></q-btn>
                                    <q-btn size="12px" flat dense round icon="more_vert" ></q-btn>
                                </div>
                            </q-item-section>
                        </q-item>
                    </q-list>
                </div>


            <q-card class="my-card cursor-pointer">
                <div class="row">
                    <div class="col-6"><img style="max-height: 90px; max-width: 150px;width: 100%; height: 100%; " class="clust-img" src="https://cdn.quasar.dev/img/mountains.jpg"></div>
                    <div class="col-6"><img style="max-height: 90px; max-width: 150px; width: 100%; height: 100%;" class="clust-img" src="https://cdn.quasar.dev/img/mountains.jpg"></div>
                    <div class="col-6"><img style="max-height: 90px; max-width: 150px; width: 100%; height: 100%;" class="clust-img" src="https://cdn.quasar.dev/img/mountains.jpg"></div>
                    <div class="col-6"><img style="max-height: 90px; max-width: 150px; width: 100%; height: 100%;"  class="clust-img" src="https://cdn.quasar.dev/img/mountains.jpg"></div>
                </div>
                <q-card-section>
                    <div class="text-h6">Our Changing Planet</div>
                </q-card-section>
                <q-card-section class="q-pt-none">
                    {{ lorem }}
                </q-card-section>
            </q-card>

            <div class="row justify-center ">
                <div class="col-6 text-center text-h3 q-pa-lg">
                    One of two cols
                </div>
            </div>

            <div class="q-pa-xl" style="max-width:400px;max-height: 1000px ">

              <!--  <q-form
                        @submit="onSubmit"
                        @reset="onReset"
                        class="q-gutter-xl"
                >
                    <div   >
                    <q-input
                            filled
                            v-model="name"
                            label="Your name *"
                            hint="Name and surname"
                            lazy-rules
                            bg-color="white"
                            :rules="[ val => val && val.length > 0 || 'Please type something']"

                    />

                    </div>

                    <div>
                <q-input
                            filled
                            type="number"
                            v-model="age"
                            label="Your age *"
                            lazy-rules
                            bg-color="white"
                            :rules="[
          val => val !== null && val !== '' || 'Please type your age',
          val => val > 0 && val < 100 || 'Please type a real age'
        ]"
                    />
                    </div>

                    <div>
                  <q-toggle v-model="currentCluster.public" label="I accept the license and terms" />
                    </div>
                    <div>
                  <q-toggle v-model="currentCluster.public" label="I accept the license and terms" />
                    </div>
                  <div>
                      <q-btn label="Submit" type="submit" color="primary"/>
                      <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-lg" />
                  </div>
                    <div class="q-pa-md">
                        <div class="q-col-gutter-md row items-start">
                            <div class="col-6">
                                <q-img src="https://cdn.quasar.dev/img/parallax2.jpg" :ratio="4/3">
                                    <div class="absolute-bottom text-subtitle1 text-center">
                                        Caption
                                    </div>
                                </q-img>
                            </div>
                        </div>
                    </div>

                    <div>

                        <q-input  filled
                                  v-model="name"
                                  label="Your name *"

                                  lazy-rules
                                  bg-color="white">
                        <q-btn round dense flat icon="add" />
                        </q-input>
                    </div>

                    <div>

                        <q-select standout v-model="model" :options="currentCluster.Stars" label="Standout"  bg-color="white"/>
                    </div>


                        <div class="q-pa-md" >
                            <q-input
                                    v-model="text"
                                    filled
                                    type="textarea"
                                    bg-color="white"
                            />
                        </div>



                </q-form>-->


                    <div class="q-pa-md" style="max-width: 350px">
                        <q-list class="bg-grey-11" bordered separator>
                            <q-item clickable v-ripple>
                                <q-item-section>Single line item</q-item-section>
                            </q-item>

                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label>Item with caption</q-item-label>
                                    <q-item-label caption>Caption</q-item-label>
                                </q-item-section>
                            </q-item>

                            <q-item clickable v-ripple>
                                <q-item-section>
                                    <q-item-label overline>OVERLINE</q-item-label>
                                    <q-item-label>Item with overline</q-item-label>
                                </q-item-section>
                            </q-item>
                        </q-list>
                    </div>

                <div class="q-pa-md" style="max-width: 400px">

                    <q-form
                            @submit="onSubmit"
                            @reset="onReset"
                            class="q-gutter-md"
                    >
                        <q-input
                                filled
                                v-model="name"
                                label="Your name *"
                                hint="Name and surname"
                                lazy-rules
                                :rules="[ val => val && val.length > 0 || 'Please type something']"
                        ></q-input>

                        <q-input
                                filled
                                type="number"
                                v-model="age"
                                label="Your age *"
                                lazy-rules
                                :rules="[
          val => val !== null && val !== '' || 'Please type your age',
          val => val > 0 && val < 100 || 'Please type a real age'
        ]"
                        ></q-input>

                        <q-toggle v-model="accept" label="I accept the license and terms"></q-toggle>

                        <div>
                            <q-btn label="Submit" type="submit" color="primary"></q-btn>
                            <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm"></q-btn>
                        </div>
                    </q-form>

                </div>

            </div>


        </q-page-container>

    </q-layout>

</div>

<!-- Add the following at the end of your body tag -->
<script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quasar@2.17.1/dist/quasar.umd.prod.js"></script>
<script src="Cluster-models.js "></script>
<script src="Cluster.js"></script>
<script src="cluster-list.js"></script>
<script src="cluster-item.js"></script>
<script>

    Cluster.mount('#Cluster')

</script>
</body>
</html>
