<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.17.1/dist/quasar.prod.css" rel="stylesheet" type="text/css">
    <meta name="msapplication-TileColor" content="#3e92cc">
    <meta name="msapplication-config" content="./images/browserconfig.xml">
    <meta name="theme-color" content="#3e92cc">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="main.css">
</head>

<body>
<!-- example of injection point where you write your app template -->
<div id="Cluster">
    <q-layout view="hHh lpR fFf">

        <q-header elevated >
            <q-toolbar>
                <q-toolbar-title>
                    <q-btn flat  href="Clusters.html">
                        <q-icon right size="2em">
                            <i class="fa-solid fa-meteor grad"></i>
                        </q-icon>
                        Cluster
                    </q-btn>

                </q-toolbar-title>

                <q-btn dense flat round icon="menu" @click="toggleRightDrawer" />
            </q-toolbar>
        </q-header>

        <q-drawer v-model="rightDrawerOpen" side="right" overlay elevated>
            <!-- drawer content -->
        </q-drawer>

        <q-page-container>


            <div class="row justify-center ">
                <div class="col-6 text-center text-h3 q-pa-lg">
                    One of two cols
                </div>
            </div>

            <div class="q-pa-xl" style="max-width:400px;max-height: 1000px ">

                <q-form
                        @submit="onSubmit"
                        @reset="onReset"
                        class="q-gutter-xl"
                >
                    <div   >
                    <q-input
                            filled
                            v-model="name"
                            label="Your name *"
                            hint="Name and surname"
                            lazy-rules
                            bg-color="white"
                            :rules="[ val => val && val.length > 0 || 'Please type something']"

                    />

                    </div>

                    <div>
                <q-input
                            filled
                            type="number"
                            v-model="age"
                            label="Your age *"
                            lazy-rules
                            bg-color="white"
                            :rules="[
          val => val !== null && val !== '' || 'Please type your age',
          val => val > 0 && val < 100 || 'Please type a real age'
        ]"
                    />
                    </div>

                    <div>
                  <q-toggle v-model="currentCluster.public" label="I accept the license and terms" />
                    </div>
                    <div>
                  <q-toggle v-model="currentCluster.public" label="I accept the license and terms" />
                    </div>
                  <div>
                      <q-btn label="Submit" type="submit" color="primary"/>
                      <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-lg" />
                  </div>
                    <div class="q-pa-md">
                        <div class="q-col-gutter-md row items-start">
                            <div class="col-6">
                                <q-img src="https://cdn.quasar.dev/img/parallax2.jpg" :ratio="4/3">
                                    <div class="absolute-bottom text-subtitle1 text-center">
                                        Caption
                                    </div>
                                </q-img>
                            </div>
                        </div>
                    </div>

                    <div>

                        <q-input  filled
                                  v-model="name"
                                  label="Your name *"

                                  lazy-rules
                                  bg-color="white">
                        <q-btn round dense flat icon="add" />
                        </q-input>
                    </div>

                    <div>

                        <q-select standout v-model="model" :options="currentCluster.Stars" label="Standout"  bg-color="white"/>
                    </div>


                        <div class="q-pa-md" >
                            <q-input
                                    v-model="text"
                                    filled
                                    type="textarea"
                                    bg-color="white"
                            />
                        </div>



                </q-form>

            </div>


        </q-page-container>

    </q-layout>

</div>

<!-- Add the following at the end of your body tag -->
<script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quasar@2.17.1/dist/quasar.umd.prod.js"></script>
<script src="Cluster-models.js "></script>
<script src="Cluster.js"></script>
<script src="cluster-list.js"></script>
<script src="cluster-item.js"></script>
<script>

    Cluster.mount('#Cluster')

</script>
</body>
</html>
